.background {
  /* background-image: url("https://images.unsplash.com/photo-1527566406204-827440d86bd3?ixlib=rb-0.3.5&s=871b719d86b23eb755d8cade57bf60e2&auto=format&fit=crop&w=1650&q=80"); */
  background-image: url("  https://media.giphy.com/media/l2QEbVSgs4FYo8POo/giphy.gif");
  height: 100%;
  width: 100%;
  position: fixed;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: black;
  z-index: -1;
}

body, html {
  width: 100%;
  height: 100%;
}
.jumbotron {
box-sizing: border-box;
margin: 50px 50px 50px 50px;
padding: 50px;
background-color: white;
}

.main-button-container {
margin-top: 175px;
max-width: 610px;
margin-left: auto;
margin-right: auto;
}

.timer-p {
margin-top: 40px;
}

.answer:hover {
background: #777;
}

.answer {
padding-top: 7px;
height: 45px;
width: 100%;
color: black;
padding-left: 14px;
background-color: white;
border-radius: 4px;
text-align: left;
margin-bottom: 5px;
}

.answer:focus{
background-color: none;
}

.img-right {
margin-top: 40px;
width: 100%;
max-width: 500px;
}

.first-answer {
margin-top: 40px;
}

.start-button {
width: 100%;
max-width: 500px;
background-color: #9B0B00;
border: none;
}

.start-button:hover {
background-color: #FF1200;
}

.reset-button {
width: 100%;
max-width: 500px;
background-color: #9B0B00;
border: none;
}

.reset-button:hover {
background-color: #FF1200;
}

.summary-correct {
margin-top: 40px;
}